/*


  Buttons Elements


*/


/* -------------------------------------

  Variables

------------------------------------- */

// Button Fonts
$button-font-stack: "calluna-sans";
$button-icon-font:  'FontAwesome';

// Large
$button-large-size:        40px !default;
$button-large-font-size:   12px !default;
$button-large-font-weight: 600 !default;

// Small
$button-small-size:        20px !default;
$button-small-font-size:   10px !default;
$button-small-font-weight: 600 !default;

// Icon
$button-icon-size:  40px !default;
$button-icon-width: 30px !default;

// Button Colours
$button-color:       #5EC2CC !default;
$button-hover-color: #36BECC !default;

// Disabled
$button-disabled-text: #999999 !default;
$button-disabled-bg:   #BDC3C7 !default;


/* -------------------------------------

  Mixins

------------------------------------- */

@mixin button-setter(
  $width: auto,
  $height: 40px,
  $side-padding: 10px,
  $mode: normal,
  $link:true
) {
  // Size
  width: $width;
  height: $height;
  @if $link {
    line-height: $height;
    text-decoration: none;
  }
  // Padding
  @if $mode == normal {
    text-align: center;
    padding-left: $side-padding;
    padding-right: $side-padding;
    padding-top: 0;
    padding-bottom: 0;
  }
  @else if $mode == left {
    text-align: left;
    padding-left: 0;
    padding-right: $side-padding;
    padding-top: 0;
    padding-bottom: 0;
  }
  @else if $mode == right {
    text-align: right;
    padding-left: $side-padding;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  @else if $mode == circle {
    text-align: center;
    padding: 0;
  }
  // Appreance
  display: inline-block;
  vertical-align: middle;
}


/* -------------------------------------

  Button Styles

------------------------------------- */

// Base
button.base
a.button.base {
  color: white;
  background: $button-color;
  border: none;
  border-radius: none;
  &:hover, &:active {
    cursor: $cursor-pointer-value;
    background: $button-hover-color;
  }
}

// Disabled
button:disabled {
  background: $button-disabled-bg;
  color: $button-disabled-text;
  border: none;
  border-radius: none;
}

// Quiet
button.quiet,
a.button.quiet {
  color: $button-color;
  background: none;
  border: none;
  border-radius: none;
  &:hover, &:active {
    cursor: $cursor-pointer-value;
    color: $button-hover-color;
  }
}


/* -------------------------------------

  Button Types

------------------------------------- */

button {
  @include button-setter($height:$button-large-size, $mode:normal);
  @include css-transition($property:background, $timing:0.3s);
  outline: none;
}
a.button { 
  @include button-setter($height:$button-large-size, $mode:normal, $link:true); 
  @include css-transition($property:background, $timing:0.3s);
}

  button, a.button {
    font-family: $button-font-stack;
    font-size: $button-large-font-size;
    font-weight: $button-large-font-weight;
  }

// Button Small
button.small { @include button-setter($height:$button-small-size, $mode:normal); }
a.button.small { @include button-setter($height:$button-small-size, $mode:normal, $link:true); }

  button.small, a.button.small {
    font-family: $button-font-stack;
    font-size: $button-small-font-size;
    font-weight: $button-small-font-weight;
  }

// Circle Button
button.circle { @include button-setter($width:$button-large-size, $height:$button-large-size, $mode:circle); }
a.button.circle { @include button-setter($width:$button-large-size, $height:$button-large-size, $mode:circle, $link:true); }

  button.circle, a.button.circle {
    font-size: $button-large-font-size;
    font-weight: $button-large-font-weight;
    @include round-corners($value:100%);
  }

// Button with Icons
button.icon i,
a.button.icon i {
  display: inline;
  margin-right: 5px;
  color: inherit;
}

// Button with Icon left
button.icon-left,
a.button.icon-left {
  @include button-setter($height:$button-large-size, $mode:left);
  i {
    width: $button-icon-width;
    text-align: center;
    line-height: $button-icon-size;
  }
}

// Button with Icon Right
button.icon-right,
a.button.icon-right {
  @include button-setter($height:$button-large-size, $mode:right);
  i {
    width: $button-icon-width;
    text-align: center;
    line-height: $button-icon-size;
  }
}


