/*


  Page: /404.jade


*/


/* -------------------------------------

  Imports

------------------------------------- */

@import 'jumpstart/jumpstart';


/* -------------------------------------

  Layouts

------------------------------------- */

section {
  height: 100%;
  z-index: 1;
  text-align: center;
}

div#particles {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
}


/* -------------------------------------

  Styles

------------------------------------- */

h1 {
  color: #C0392B;
}

a, a:hover, a:visited, a:focus {
  font-size: inherit;
  font-weight: inherit;
}