/*


  Page: /index.jade


*/


/* -------------------------------------

  Imports

------------------------------------- */

@import 'jumpstart/jumpstart';


/* -------------------------------------

  Layouts

------------------------------------- */

header {
  height: 100%;
  z-index: 1;
}

div#particles {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #F7F7F7;
}


/* -------------------------------------

  Styles

------------------------------------- */

h1#logo {
  @include trailer-setter(1);
}

h2 {
  @include type-setter($family:"calluna", $weight:300, $size:24px, $lines:auto);
  @include leader-setter(0);
  @include trailer-setter(2);
}

p {
  @include type-setter($weight:400, $size:18px, $lines:1.3);
  @include leader-setter(0);
  @include trailer-setter(1.25);
  &:before {
    content: " ";
    width: 20px;
    height: 1px;
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
    background: #A1A1A1;
  }
}

div#index-actions a:not(:last-child) { margin-right: 10px; }