section.row.hcenter.vcenter
  article.mobile-5.tablet-7
    h1 404
    h3
      | This isn't the page you're looking for. Shall I 
      a(href="/") take you back
      |  ?

div#particles

script(type="text/javascript" src="/javascripts/particles.js/particles.js")
script(type="text/javascript" src="/javascripts/404.js")