header.row.hcenter.vcenter
  section.mobile-4.tablet-6

    h1#logo
      a(href="/") justin lim.
      span#job digital product designer

    h2 I believe products should resonate with the way you see the world, how you think and what you care about. Products should, in many ways, capture who you are.

    p
      | Thanks for coming. I am currently revamping my works, but you may look at some of my older works 
      a(href="" target="_blank") here
      |  while I update. Meanwhile, feel free to check out some of my other profiles.

    div#index-actions
      button(href="/" target="_blank").base
        i.fa-linkedin 
        | LinkedIn
      button(href="/" target="_blank").base
        i.fa-linkedin 
        | Github



div#particles

script(type="text/javascript" src="javascripts/particles.js/particles.js")
script(type="text/javascript" src="javascripts/index.js")