/*


  Jumpstart Framework


*/
/* -------------------------------------

 Key Imports (Required)

------------------------------------- */
/*


  Global


*/
/* -------------------------------------

  Variables

------------------------------------- */
/* -------------------------------------

  Setup

------------------------------------- */
html, body {
  height: 100%; }

body {
  background: #F7F7F7;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: auto; }

*, *:before, *:after {
  box-sizing: border-box;
  position: relative; }

/*


  Global Functions


*/
/* -------------------------------------

  Typography

------------------------------------- */
/* -------------------------------------

  Grids

------------------------------------- */
/*


  Global Mixins


*/
/* -------------------------------------

  Effects

------------------------------------- */
/* -------------------------------------

  Elements Imports

------------------------------------- */
/*


  Type Elements


*/
/* -------------------------------------

  Variables

------------------------------------- */
/* -------------------------------------

  Mixins

------------------------------------- */
/* ----------------------------------------

  Classes

---------------------------------------- */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Truncate Lengthy Text */
.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

/* -------------------------------------

  Setup

------------------------------------- */
html {
  font-family: "calluna-sans", "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
  font-size: 87.5%;
  line-height: 20px;
  font-weight: normal; }

body {
  background-image: url("http://basehold.it/i/20"); }

/* ----------------------------------------

  Headers

---------------------------------------- */
h1 {
  font-family: "calluna-sans", "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
  font-weight: 300;
  font-size: 3.14286rem;
  line-height: 1.36364;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #333333; }

h2 {
  font-family: "calluna-sans", "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
  font-weight: 400;
  font-size: 1.92857rem;
  line-height: 1.48148;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #333333; }

h3 {
  font-family: "calluna-sans", "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
  font-weight: 400;
  font-size: 1.64286rem;
  line-height: 1.30435;
  margin-top: 0px;
  margin-bottom: 30px;
  color: #333333; }

h4 {
  font-family: "calluna-sans", "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
  font-weight: 400;
  font-size: 1.28571rem;
  line-height: 1.66667;
  margin-top: 0px;
  margin-bottom: 30px;
  color: #333333; }

h5 {
  font-family: "calluna-sans", "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.42857;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #333333; }

h6 {
  font-family: "calluna-sans", "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
  font-weight: 600;
  font-size: 0.85714rem;
  line-height: 2.5;
  margin-top: 0px;
  margin-bottom: 30px;
  color: #333333; }

/* ----------------------------------------

  Text and Lists

---------------------------------------- */
p {
  font-family: "calluna-sans", "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.42857;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #333333; }

a, a:visited {
  font-family: "calluna-sans", "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.42857;
  color: #399CD3; }
a:hover, a:focus {
  color: #0A67A3; }

ul {
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  list-style-position: outside;
  list-style-type: square; }
  ul li {
    font-family: "calluna-sans", "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.42857;
    color: #333333; }

ol {
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  list-style-position: outside;
  list-style-type: normal; }
  ol li {
    font-family: "calluna-sans", "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.42857;
    color: #333333; }

/* ----------------------------------------

    Blockquotes and Cite

---------------------------------------- */
blockquote {
  font-family: "calluna-sans", "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.42857; }
  blockquote:before {
    content: open-quote; }
  blockquote:after {
    content: close-quote; }

cite {
  font-family: "calluna-sans", "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.42857;
  margin-bottom: 20px;
  display: block;
  color: #333333;
  font-style: normal;
  text-transform: uppercase; }

/* -------------------------------------

  Codes

------------------------------------- */
code {
  font-family: monospace;
  font-weight: 600;
  font-size: 1.14286rem;
  line-height: 1.25;
  color: #E67E22;
  font-style: normal; }

/* -------------------------------------

  Special Styles

------------------------------------- */
h1#logo {
  font-family: "calluna-sans", "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
  font-weight: 600;
  font-size: 1.14286rem;
  line-height: 1.25;
  margin-top: 0px;
  margin-bottom: 0px; }
  h1#logo a, h1#logo a:visited, h1#logo a:hover, h1#logo a:focus {
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: inherit; }

/*


  Grid Elements


*/
/* -------------------------------------

  Variables

------------------------------------- */
/* -------------------------------------

  Mixins

------------------------------------- */
/* -------------------------------------

  Test Grid

------------------------------------- */
.test-grid {
  font-size: 12px;
  color: #666666;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(222, 219, 211, 0.7);
  outline: solid thin #c7c3b5; }
  .test-grid > * {
    padding: 10px;
    background-color: rgba(222, 219, 211, 0.7);
    outline: solid thin #c7c3b5; }

/* -------------------------------------

  Layout Classes

------------------------------------- */
.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.hide {
  display: none !important;
  visibility: hidden; }

.invisible {
  visibility: hidden; }

.hcenter {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .hcenter > * {
    -webkit-box-flex: 0 !important;
    -webkit-flex-grow: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important; }

.vcenter {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .vcenter > * {
    -webkit-box-flex: 0 !important;
    -webkit-flex-grow: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important; }

/* -------------------------------------

  Grids

------------------------------------- */
.full-width {
  width: 100%; }

.row {
  width: 100%;
  max-width: 960px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 auto; }
  .row .row {
    width: auto;
    max-width: none; }
    .row .row > *:first-child {
      margin-left: 0; }
    .row .row > *:last-child {
      margin-right: 0; }
    .row .row > *[class*="-collapse"]:first-child {
      padding-left: 0; }
    .row .row > *[class*="-collapse"]:last-child {
      padding-right: 0; }

/* -------------------------------------

  Media Queries

------------------------------------- */
@media (min-width: 320px) {
  .mobile-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 16.66667% - 20px);
        -ms-flex: 1 calc( 16.66667% - 20px);
            flex: 1 calc( 16.66667% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .mobile-1-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 16.66667%;
        -ms-flex: 1 16.66667%;
            flex: 1 16.66667%;
    padding-left: 10px;
    padding-right: 10px; }
  .mobile-2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 33.33333% - 20px);
        -ms-flex: 1 calc( 33.33333% - 20px);
            flex: 1 calc( 33.33333% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .mobile-2-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 33.33333%;
        -ms-flex: 1 33.33333%;
            flex: 1 33.33333%;
    padding-left: 10px;
    padding-right: 10px; }
  .mobile-3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 50% - 20px);
        -ms-flex: 1 calc( 50% - 20px);
            flex: 1 calc( 50% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .mobile-3-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%;
    padding-left: 10px;
    padding-right: 10px; }
  .mobile-4 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 66.66667% - 20px);
        -ms-flex: 1 calc( 66.66667% - 20px);
            flex: 1 calc( 66.66667% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .mobile-4-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 66.66667%;
        -ms-flex: 1 66.66667%;
            flex: 1 66.66667%;
    padding-left: 10px;
    padding-right: 10px; }
  .mobile-5 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 83.33333% - 20px);
        -ms-flex: 1 calc( 83.33333% - 20px);
            flex: 1 calc( 83.33333% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .mobile-5-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 83.33333%;
        -ms-flex: 1 83.33333%;
            flex: 1 83.33333%;
    padding-left: 10px;
    padding-right: 10px; }
  .mobile-6 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 100% - 20px);
        -ms-flex: 1 calc( 100% - 20px);
            flex: 1 calc( 100% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .mobile-6-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
    padding-left: 10px;
    padding-right: 10px; }
  .mobile-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
        -ms-flex: 1 auto;
            flex: 1 auto;
    margin-left: 10px;
    margin-right: 10px; } }

@media (min-width: 640px) {
  .tablet-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 12.5% - 20px);
        -ms-flex: 1 calc( 12.5% - 20px);
            flex: 1 calc( 12.5% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .tablet-1-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 12.5%;
        -ms-flex: 1 12.5%;
            flex: 1 12.5%;
    padding-left: 10px;
    padding-right: 10px; }
  .tablet-2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 25% - 20px);
        -ms-flex: 1 calc( 25% - 20px);
            flex: 1 calc( 25% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .tablet-2-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 25%;
        -ms-flex: 1 25%;
            flex: 1 25%;
    padding-left: 10px;
    padding-right: 10px; }
  .tablet-3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 37.5% - 20px);
        -ms-flex: 1 calc( 37.5% - 20px);
            flex: 1 calc( 37.5% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .tablet-3-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 37.5%;
        -ms-flex: 1 37.5%;
            flex: 1 37.5%;
    padding-left: 10px;
    padding-right: 10px; }
  .tablet-4 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 50% - 20px);
        -ms-flex: 1 calc( 50% - 20px);
            flex: 1 calc( 50% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .tablet-4-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%;
    padding-left: 10px;
    padding-right: 10px; }
  .tablet-5 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 62.5% - 20px);
        -ms-flex: 1 calc( 62.5% - 20px);
            flex: 1 calc( 62.5% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .tablet-5-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 62.5%;
        -ms-flex: 1 62.5%;
            flex: 1 62.5%;
    padding-left: 10px;
    padding-right: 10px; }
  .tablet-6 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 75% - 20px);
        -ms-flex: 1 calc( 75% - 20px);
            flex: 1 calc( 75% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .tablet-6-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 75%;
        -ms-flex: 1 75%;
            flex: 1 75%;
    padding-left: 10px;
    padding-right: 10px; }
  .tablet-7 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 87.5% - 20px);
        -ms-flex: 1 calc( 87.5% - 20px);
            flex: 1 calc( 87.5% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .tablet-7-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 87.5%;
        -ms-flex: 1 87.5%;
            flex: 1 87.5%;
    padding-left: 10px;
    padding-right: 10px; }
  .tablet-8 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 100% - 20px);
        -ms-flex: 1 calc( 100% - 20px);
            flex: 1 calc( 100% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .tablet-8-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
    padding-left: 10px;
    padding-right: 10px; }
  .tablet-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
        -ms-flex: 1 auto;
            flex: 1 auto;
    margin-left: 10px;
    margin-right: 10px; } }

@media (min-width: 1000px) {
  .desktop-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 8.33333% - 20px);
        -ms-flex: 1 calc( 8.33333% - 20px);
            flex: 1 calc( 8.33333% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .desktop-1-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 8.33333%;
        -ms-flex: 1 8.33333%;
            flex: 1 8.33333%;
    padding-left: 10px;
    padding-right: 10px; }
  .desktop-2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 16.66667% - 20px);
        -ms-flex: 1 calc( 16.66667% - 20px);
            flex: 1 calc( 16.66667% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .desktop-2-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 16.66667%;
        -ms-flex: 1 16.66667%;
            flex: 1 16.66667%;
    padding-left: 10px;
    padding-right: 10px; }
  .desktop-3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 25% - 20px);
        -ms-flex: 1 calc( 25% - 20px);
            flex: 1 calc( 25% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .desktop-3-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 25%;
        -ms-flex: 1 25%;
            flex: 1 25%;
    padding-left: 10px;
    padding-right: 10px; }
  .desktop-4 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 33.33333% - 20px);
        -ms-flex: 1 calc( 33.33333% - 20px);
            flex: 1 calc( 33.33333% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .desktop-4-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 33.33333%;
        -ms-flex: 1 33.33333%;
            flex: 1 33.33333%;
    padding-left: 10px;
    padding-right: 10px; }
  .desktop-5 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 41.66667% - 20px);
        -ms-flex: 1 calc( 41.66667% - 20px);
            flex: 1 calc( 41.66667% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .desktop-5-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 41.66667%;
        -ms-flex: 1 41.66667%;
            flex: 1 41.66667%;
    padding-left: 10px;
    padding-right: 10px; }
  .desktop-6 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 50% - 20px);
        -ms-flex: 1 calc( 50% - 20px);
            flex: 1 calc( 50% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .desktop-6-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%;
    padding-left: 10px;
    padding-right: 10px; }
  .desktop-7 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 58.33333% - 20px);
        -ms-flex: 1 calc( 58.33333% - 20px);
            flex: 1 calc( 58.33333% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .desktop-7-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 58.33333%;
        -ms-flex: 1 58.33333%;
            flex: 1 58.33333%;
    padding-left: 10px;
    padding-right: 10px; }
  .desktop-8 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 66.66667% - 20px);
        -ms-flex: 1 calc( 66.66667% - 20px);
            flex: 1 calc( 66.66667% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .desktop-8-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 66.66667%;
        -ms-flex: 1 66.66667%;
            flex: 1 66.66667%;
    padding-left: 10px;
    padding-right: 10px; }
  .desktop-9 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 75% - 20px);
        -ms-flex: 1 calc( 75% - 20px);
            flex: 1 calc( 75% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .desktop-9-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 75%;
        -ms-flex: 1 75%;
            flex: 1 75%;
    padding-left: 10px;
    padding-right: 10px; }
  .desktop-10 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 83.33333% - 20px);
        -ms-flex: 1 calc( 83.33333% - 20px);
            flex: 1 calc( 83.33333% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .desktop-10-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 83.33333%;
        -ms-flex: 1 83.33333%;
            flex: 1 83.33333%;
    padding-left: 10px;
    padding-right: 10px; }
  .desktop-11 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 91.66667% - 20px);
        -ms-flex: 1 calc( 91.66667% - 20px);
            flex: 1 calc( 91.66667% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .desktop-11-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 91.66667%;
        -ms-flex: 1 91.66667%;
            flex: 1 91.66667%;
    padding-left: 10px;
    padding-right: 10px; }
  .desktop-12 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 calc( 100% - 20px);
        -ms-flex: 1 calc( 100% - 20px);
            flex: 1 calc( 100% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .desktop-12-collapse {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
    padding-left: 10px;
    padding-right: 10px; }
  .desktop-auto {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
        -ms-flex: 1 auto;
            flex: 1 auto;
    margin-left: 10px;
    margin-right: 10px; } }

/*


  Buttons Elements


*/
/* -------------------------------------

  Variables

------------------------------------- */
/* -------------------------------------

  Mixins

------------------------------------- */
/* -------------------------------------

  Button Styles

------------------------------------- */
button.base {
  color: white;
  background: #5EC2CC;
  border: none;
  border-radius: none; }
  button.base:hover, button.base:active {
    cursor: pointer;
    background: #36BECC; }

button:disabled {
  background: #BDC3C7;
  color: #999999;
  border: none;
  border-radius: none; }

button.quiet-base {
  color: #5EC2CC;
  background: none;
  border: none;
  border-radius: none; }
  button.quiet-base:hover, button.quiet-base:active {
    cursor: pointer;
    color: #36BECC; }

/* -------------------------------------

  Button Types

------------------------------------- */
button {
  width: auto;
  height: 40px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
  outline: none; }

button.quiet {
  width: auto;
  height: 40px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600; }

button.small {
  width: auto;
  height: 20px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  font-weight: 600; }

button.circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
  border-radius: 100%; }

button.icon i {
  display: inline;
  margin-right: 5px;
  color: inherit; }

button.icon-left {
  width: auto;
  height: 40px;
  text-align: left;
  padding-left: 0;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
  vertical-align: middle; }
  button.icon-left i {
    width: 30px;
    text-align: center;
    line-height: 40px; }

button.icon-right {
  width: auto;
  height: 40px;
  text-align: right;
  padding-left: 10px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
  vertical-align: middle; }
  button.icon-right i {
    width: 30px;
    text-align: center;
    line-height: 40px; }
/*# sourceMappingURL=jumpstart.css.map */