footer.row.vcenter
  p
    &copy; 2015. Justin Lim.
  section#social-actions
    a(href="https://twitter.com/justinlwz" target="_blank").twitter
      i.fa-twitter 
    a(href="http://linkedin.com/in/justinlwz/" target="_blank").linkedin
      i.fa-linkedin 
    a(href="https://github.com/justinlwz/" target="_blank").github
      i.fa-github 