footer
  p
    &copy; 2015. Justin Lim.
  section#social-actions
    a(href="https://twitter.com/justinlwz" target="_blank").button.twitter.icon-left
      i.fa-twitter 
      | Twitter
    a(href="http://linkedin.com/in/justinlwz/" target="_blank").button.linkedin.icon-left
      i.fa-linkedin 
      | LinkedIn
    a(href="https://github.com/justinlwz/" target="_blank").button.github.icon-left
      i.fa-github 
      | Github