// Index Page

header.row
  
  h1#logo.mobile-5.tablet-2
    | justin lim.
    span#job digital product designer
  
  article.mobile-5.tablet-6
    h2 Hello, I am a digital product designer currently based in Vancouver with focus on interaction and interface. 
    h2 I believe that the soul of a product is a little bit like who you are; a small reflection of the things you care and value about, and the way you see the world.

    section#index-actions
      a(href="http://cl.ly/1M0l0d1h2M2t/justinlim-portfolio.pdf" target="_blank").button.download
        i.button.fa-cloud-download
        | Portfolio (PDF, ~20.6MB)
      a(href="https://twitter.com/justinlwz" target="_blank").button.twitter
        i.fa-twitter 
      a(href="http://linkedin.com/in/justinlwz/" target="_blank").button.linkedin
        i.fa-linkedin 
      a(href="https://github.com/justinlwz/" target="_blank").button.github
        i.fa-github 
      


//
  nav#portfolio-list.full-width
    figure.work
      img(src="http://placehold.it/300x300")
    figure.work
      img(src="http://placehold.it/300x300")
    figure.work
      img(src="http://placehold.it/300x300")
    figure.work
      img(src="http://placehold.it/300x300")
      


script(type="text/javascript" src="javascripts/index.js")