// Index Page

header.row

  section.mobile-5.tablet-2

    h1#logo
      a(href="/") justin lim.
      span#job digital product designer

  article.mobile-5.tablet-6

    h2 The product has a soul when it starts to reflect with the way you see the world and what you care about; in some ways, feels like a little bit of who you are.


nav#portfolio-list.full-width
  div.work
    img(src="http://placehold.it/300x300")
  div.work
    img(src="http://placehold.it/300x300")
  div.work
    img(src="http://placehold.it/300x300")
  div.work
    img(src="http://placehold.it/300x300")
      


script(type="text/javascript" src="javascripts/index.js")