// Index Page

header.row
  
  h1#logo.mobile-5.tablet-2
    | justin lim.
    span#job digital product designer
  
  article.mobile-5.tablet-6
    h2 Hello, I am a digital product designer currently based in Vancouver with focus on interaction and interface. 
    h2 I believe that the soul of a product is a little bit like who you are; a small reflection of the things you care and value about, and the way you see the world.


nav#portfolio-list.full-width
  figure.work
    img(src="http://placehold.it/300x300")
  figure.work
    img(src="http://placehold.it/300x300")
  figure.work
    img(src="http://placehold.it/300x300")
  figure.work
    img(src="http://placehold.it/300x300")
      


script(type="text/javascript" src="javascripts/index.js")