// Index Page

header.row

  h1#logo.mobile-5.tablet-2
    a(href="/") justin lim.
    span#job digital product designer
  
  h2.mobile-5.tablet-6.
    The product has a soul when it starts to reflect with the way you see the world and what you care about; in some ways, feels like a little bit of who you are.


nav#portfolio-list.full-width
  div.work
    img(src="http://placehold.it/300x300")
  div.work
    img(src="http://placehold.it/300x300")
  div.work
    img(src="http://placehold.it/300x300")
  div.work
    img(src="http://placehold.it/300x300")
      


script(type="text/javascript" src="javascripts/index.js")