// Index Page

header.row

  h1#logo.mobile-5.tablet-2
    | justin lim.
    span#job digital product designer
  
  article.mobile-5.tablet-6
    h2 Hello, I am a digital product designer currently based in Vancouver with focus on interaction and interface. 
    h2 I believe that the soul of a product is a small reflection of what you care about, who you value, and the way you see the world; and in some ways, little bit like who you are.


nav#portfolio-list.full-width
  div.work
    img(src="http://placehold.it/300x300")
  div.work
    img(src="http://placehold.it/300x300")
  div.work
    img(src="http://placehold.it/300x300")
  div.work
    img(src="http://placehold.it/300x300")
      


script(type="text/javascript" src="javascripts/index.js")