/*


  Footer Styles


*/


/* -------------------------------------

  Layouts

------------------------------------- */

h1#logo {
  @include type-setter($family:$sans-stack, $weight:600, $size:16px, $lines:1);
  @include leader-setter(0);
  @include trailer-setter(0);

  > * { display: block; }

  a, a:visited, a:hover, a:focus {
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: inherit;
  }

  span#job {
    font-weight: 300;
  }
}